<!doctype html>

<html>
<head>
    <title> title for the page</title>
   <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
   
    </head>
    <body ng-app="contactListCtrl">
       <contact-list-form></contact-list-form>
        <contact-list-update updatedid="updatedId"></contact-list-update>
        <contact-list-table></contact-list-table>
     
    
    </body>
    <script type="text/javascript" src="/node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/services/personservice.js"></script>
    <script type="text/javascript" src="/scripts/controllers/appCtrL.js"></script>
    <script type="text/javascript" src="/scripts/controllers/personCtrl.js"></script>
    <script type="text/javascript" src="/scripts/controllers/contactListCtrl.js"></script>
    <script type="text/javascript" src="/scripts/services/personfactory.js"></script>
    <script type="text/javascript" src="/scripts/directive/contactListForm.js"></script>
    <script type="text/javascript" src="/scripts/services/personHttp.js"></script>
    <script type="text/javascript" src="/scripts/directive/contactListformedit.js"> </script>

</html>






